/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.local.env

.DS_Store
Thumbs.db

npm-debug.log

storage/logs/*.log
storage/logs/*.txt


error_log
public/error_log

/public/build
/public/uploads

/public/sitemap/*

/docs/appmarket/site